<!DOCTYPE html>
<html>
<title>BRITE</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Make sure you put this AFTER Leaflet's CSS -->
<link rel="stylesheet" href="leaflet/leaflet.css" />
<script src="leaflet/leaflet.js"></script>
<link rel="stylesheet" href="/css/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Montserrat", sans-serif
  }

  .w3-row-padding img {
    margin-bottom: 12px
  }

  /* Set the width of the sidebar to 120px */
  .w3-sidebar {
    width: 120px;
    background: #404040;
  }

  /* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
  #main {
    margin-left: 78px
  }

  /* Remove margins from "page content" on small screens */
  @media only screen and (max-width: 600px) {
    #main {
      margin-left: 0
    }
  }
</style>

<body class="w3-black">

  <!-- Icon Bar (Sidebar - hidden on small screens) -->
  <nav id="sidebar" class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
    <!-- Avatar image in top left corner -->

    <a href="#main" class="w3-bar-item w3-button w3-padding-large w3-black">
      <i class="fa fa-home w3-xxlarge"></i>
      <p>HOME</p>
    </a>

    <a href="#scrollStop" class="w3-bar-item w3-button w3-padding-large
        w3-hover-black">
      <i class="fa fa-map-marker w3-xxlarge"></i>
      <p>Bus Location</p>
    </a>
    <a href="#Projects-details" class="w3-bar-item w3-button w3-padding-large
        w3-hover-black">
      <i class="fa fa-info w3-xxlarge"></i>
      <p>Project Details</p>
    </a>
    <a href="#about" class="w3-bar-item w3-button w3-padding-large
        w3-hover-black">
      <i class="fa fa-users w3-xxlarge"></i>
      <p>Contributers</p>
    </a>
    <div id="hide_side" class="w3-bar-item w3-button w3-padding-large
        w3-hover-black">
      <i class="fa fa-angle-double-left w3-xxlarge"></i>
      <p>Hide</p>
    </div>

  </nav>

  <!-- Navbar on small screens (Hidden on medium and large screens) -->
  <div class="w3-top w3-hide-large w3-hide-medium" id="myNavbar">
    <div class="w3-bar w3-black w3-opacity w3-hover-opacity-off w3-center
        w3-small">
      <a href="main" class="w3-bar-item w3-button" style="width:25%
          !important">HOME</a>
      <a href="#tab2" class="w3-bar-item w3-button" style="width:25%
          !important">INFO</a>
      <a href="#tab3" class="w3-bar-item w3-button" style="width:25%
          !important">REF</a>
      <a href="#tab4" class="w3-bar-item w3-button" style="width:25%
          !important">ABOUT</a>
    </div>
  </div>

  <!-- Page Content -->
  <div class="w3-padding-large" id="main">
    <!-- Header/Home -->
    <header class="w3-container w3-padding-32 w3-center w3-black" id="home" style="margin-top: -77px">
      <div style="position: absolute;width:33%;margin-top:49px">
        <h1 class="w3-jumbo"><span class="w3-hide-small"></span> BRITE</h1>
        <p>Real Time bus localization</p>
      </div>
      <div style="position: absolute;
    left: 1px;
    margin-top: 37px;    position: fixed;border-radius: 20px;border: 1px solid white;background: none;" id="show_side"
        class="w3-bar-item w3-button w3-padding-large
        w3-hover-black">
        <i class="fa fa-angle-double-right w3-xxlarge"></i>
        <p>Show</p>
      </div>

      <div style="margin:auto;margin-top:-4px">
        <img src="images/poster.png" style="width: 103%">
        <img src="images/down.gif" style="    width: 60px;margin-top: -76px;margin-right: -35px;cursor: pointer;"
          id="slideDown">
      </div>
  </div>




  </header>

  <!-- Header/Home -->
  <header id="mapcontainer" style="    width: 90%;float: right;margin-right: 25px;"
    class="w3-container w3-padding-32 w3-center w3-black" id="">
    <h1 class="w3-jumbo"><span class="w3-hide-small"></span> BRITE</h1>
    <p id="scrollStop">Real Time bus localization</p>
    <div style="display: flex">
      <div id="mapid" style="height: 1020px; width:100%;margin:auto;padding:5px"></div>
      <div id="buttons" style="display:grid; width: 10%;
            position: absolute;
            z-index: 1000;
            right: 41px;">
        <div id="findingLocation">
          <img id="locationStatus" style="height: 60px;margin-bottom:
                -35px;" src="images/loading3.gif" alt="">
          <p style="color:
                #9cdd06;
                font-weight: 800;">Finding Location</p>
        </div>
        <div id="check" style="display: none">
          <img id="locationStatus" style="height: 47px;" src="images/check.png" alt="">
          <p style="color: #9cdd06;
                font-weight: 800;">Location confirmed</p>
        </div>
        <div style="background: #54797952;
              margin-top: 15px;
              margin-right: 15px;
              padding: 9px;
              color: black;
              text-transform: capitalize;
              font-weight: 800;
              width: 86%;
              float: right;
              border: 2px solid #f5f5e0;">
          certainty bar
          <progress id="certaintyBar" value="28" max="100" style="width:
                -webkit-fill-available;"></progress>
        </div>
        <div class="w3-section" style="background-color:
              #212021a3!important;width:86%;padding:5px; border: 2px solid
              #f5f5e0;color: white !important; border-radius: 5px;  ">
          <i class="fa fa-compass" style="float: left;
    padding: 5px;
    border: 1px solid;
    margin-right: 5px;
    width: 28px;
    border-radius: 25px"></i>GPS Location
          <label class="switch ">

            <input id="checkbox" type="checkbox" checked>
            <span class="slider round"></span>
          </label>
        </div>
                <div class="w3-section" style="background-color:
              #212021a3!important;width:86%;padding:5px; border: 2px solid
              #f5f5e0;color: white !important; border-radius: 5px;  ">
          <i class="fa fa-compass" style="float: left;
    padding: 5px;
    border: 1px solid;
    margin-right: 5px;
    width: 28px;
    border-radius: 25px"></i>Auto-focus
          <label class="switch ">

            <input id="autofocus" type="checkbox" >
            <span class="slider round"></span>
          </label>
        </div>
        <button style="background-color:
              #212021a3!important;width:86%;padding:5px;border: 2px solid
              #f5f5e0;color: white !important;  border-radius: 5px; " id="deleteAnchors" class="w3-button w3-light-grey w3-section">
          <i class="fa fa-minus-circle" style="float: left;
    padding: 5px;
    border: 1px solid;
    margin-right: 5px;
    width: 28px;
    border-radius: 25px"></i> Delete Anchors
        </button>
        <button id="drawAnchors" style="background-color:
              #212021a3!important;width:86%;padding:5px; border: 2px solid
              #f5f5e0;color: white !important; border-radius: 5px;  " class="w3-button w3-light-grey w3-section">
          <i class="fa fa-map-signs" style="float: left;
    padding: 5px;
    border: 1px solid;
    margin-right: 5px;
    width: 28px;
    border-radius: 25px"></i> Draw Anchors
        </button>
        <button style="background-color:
             #212021a3!important;width:86%;padding:5px; border: 2px solid
              #f5f5e0;color: white !important;border-radius: 5px;   " id="deleteroute801" class="w3-button w3-light-grey

              w3-section">
          <i class="fa fa-eraser" style="float: left;
    padding: 5px;
    border: 1px solid;
    margin-right: 5px;
    width: 28px;
    border-radius: 25px"></i> Delete Route
        </button>
        <button id="route801" style="background-color:
              #212021a3!important;width:86%;padding:5px; border: 2px solid
              #f5f5e0;color: white !important;border-radius: 5px;   " class="w3-button w3-light-grey w3-section">
          <i class="fa fa-thumb-tack" style="float: left;
    padding: 5px;
    border: 1px solid;
    margin-right: 5px;
    width: 28px;
    border-radius: 25px"></i> Draw Route
        </button>
        <button id="focus" style="background-color:
              #212021a3!important;width:86%;padding:5px; border: 2px solid
              #f5f5e0;color: white !important; border-radius: 5px;  " class="w3-button w3-light-grey w3-section">
          <i class="fa fa-map-marker" style="float: left;
    padding: 5px;
    border: 1px solid;
    margin-right: 5px;
    width: 28px;
    border-radius: 25px"></i> Focus
        </button>



        <style>
          .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
          }

          .switch input {
            opacity: 0;
            width: 0;
            height: 0;
          }

          .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
          }

          .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
          }

          input:checked+.slider {
            background-color: #8ab4f8;
          }

          input:focus+.slider {
            box-shadow: 0 0 1px #8ab4f8;
          }

          input:checked+.slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
          }

          /* Rounded sliders */
          .slider.round {
            border-radius: 34px;
          }

          .slider.round:before {
            border-radius: 50%;
          }
        </style>

      </div>
    </div>

    <script src="/myjs/script.js"></script>


  </header>

  <!-- About Section -->
  <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="tab2" style="display:">
    <h2 class="w3-text-light-grey">Project Details</h2>
    <hr id="Projects-details" style="width:200px" class="w3-opacity">
    <p>In an autonomous or semi-autonomous driving context, the objective of this project is to know the position of a
      bus even in the absense of GPS data.The particularity of the use case is that Buses usually take known routes over
      and over.Some derivation from normal routes might occure for security reasons or construction.
    </p>
    <div style="display: flex;margin-top:40px">
      <img src='images/Model.png' style="width:50%">
      <div>
        <p style=" width:40%;margin:40px">The proposed system is composed of three major parts :
          <ul>
            <li>
              <h4>Real-time object detector :</h4> Yolov3
            </li>
            <li>
              <h4>Anchor map creation system :</h4>( check map above for resulting map)
            </li>
            <li>
              <h4>Bus localization system</h4>
            </li>
          </ul>.
        </p>
      </div>

    </div>

    {{!-- <div class="w3-row w3-center w3-padding-16 w3-section w3-light-grey">
      <div class="w3-quarter w3-section">
        <span class="w3-xlarge">11+</span><br>
        Bus Routes
      </div>
      <div class="w3-quarter w3-section">
        <span class="w3-xlarge">55+</span><br>
        5 anchors
      </div>
      <div class="w3-quarter w3-section">
        <span class="w3-xlarge">89+</span><br>
        traffic lights
      </div>
      <div class="w3-quarter w3-section">
        <span class="w3-xlarge">150+</span><br>
        fire hydrants
      </div>
    </div>
    <iframe src="https://drive.google.com/file/d/1nrgBH0gl1ofA7OSkIUe0OeTLUAimYYbD/preview" width="640"
      height="480"></iframe> --}}
    <button class="w3-button w3-light-grey w3-padding-large w3-section">
      <i class="fa fa-download"></i> Download Paper
    </button>



    <!-- Testimonials -->
    <h3 id="about" class="w3-padding-24 w3-text-light-grey">Contributers</h3>
    <div style="display: grid">

      <div style="padding:5px">
        <a href="https://www.thalesgroup.com/en" target="blanks"><img src="/images/thales.jpg" alt="Avatar" class="w3-left" style="width:244px; margin-right: 40px;    height: max-content;    border-radius: 15px;"></a>
        <p><span class="w3-large w3-margin-right">Thales Research and Technology</span>  </p>
        <p>Quebec</p><br>
      </div>

      <div style="padding:5px;">
        <a href="https://www.ucalgary.ca/" target="blanks"><img src="/images/uofc.jpg" alt="Avatar" class="w3-left" style="width:244px; margin-right: 40px;    border-radius: 15px;"></a>
        <p><span class="w3-large w3-margin-right">The University of Calgary</span> 
         .</p>
        <p>Calgary</p><br>
      </div>
           <div style="padding:5px">
        <a href="https://www.thalesgroup.com/en" target="blanks"><img src="/images/mitacs.jpg" alt="Avatar" class="w3-left" style="width:244px; margin-right: 40px;height:123px;    border-radius: 15px;"></a>
        <p><span class="w3-large w3-margin-right">Mitacs</span> </p>
        <p>Nonprofit</p><br>
      </div>
    </div>


    <!-- End About Section -->
  </div>



  <!-- Contact Section -->
  <div class="w3-padding-64 w3-content w3-text-grey" id="contact" style="display:">
    <h2 class="w3-text-light-grey">Contact</h2>
    <hr style="width:200px" class="w3-opacity">

    <div class="w3-section">

      <p><i class="fa fa-phone fa-fw w3-text-white w3-xxlarge
              w3-margin-right"></i> Phone: +00 587-969-2221</p>
      <p><i class="fa fa-envelope fa-fw w3-text-white w3-xxlarge
              w3-margin-right"> </i> Email: hayouniabdessattar@gmail.com</p>
    </div><br>



    <!-- End Contact Section -->
  </div>

  <!-- Footer -->
  <footer class="w3-content w3-padding-64 w3-text-grey w3-xlarge">
    <a href="https://www.facebook.com/Mitacs/" target="blanks"><i class="fa fa-facebook-official w3-hover-opacity"></i></a>
    <a href="https://www.instagram.com/mitacs/" target="blanks"><i class="fa fa-instagram w3-hover-opacity"></i></a>
    <a href="https://twitter.com/mitacscanada" target="blanks"><i class="fa fa-twitter w3-hover-opacity"></i></a>
    <a href="https://www.linkedin.com/company/mitacs" target="blanks"><i class="fa fa-linkedin w3-hover-opacity"></i></a>
    <a href="https://www.linkedin.com/company/mitacs" target="blanks"><p class="w3-medium">Sponsored by <a href="https://www.mitacs.com" target="_blank"
        class="w3-hover-text-green">Mitacs</a></p>
    <!-- End footer -->
  </footer>

  <!-- END PAGE CONTENT -->
  </div>

</body>

</html>